{% extends 'base.html' %}

    {% block content %}
        <div class="container">
            <h1>Добро пожаловать на борт!</h1>
            <p>ReachBuy - сайт отзывов о товарах, услугах, магазинах, сервисах и т. д..
                Отзывы помогают читателям выбрать товар (услугу) лучшего качества или избежать лишней траты средств и нервов.
                Прочитал, выбрал, купил!
                <b>REA</b>d-<b>CH</b>oose-<b>BUY</b>!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae dignissimos dolorum et exercitationem id ipsa,
                iusto laboriosam magni, maiores natus pariatur porro quia, quis sapiente sunt veniam voluptatum?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae dignissimos dolorum et exercitationem id ipsa,
                iusto laboriosam magni, maiores natus pariatur porro quia, quis sapiente sunt veniam voluptatum?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae dignissimos dolorum et exercitationem id ipsa,
                iusto laboriosam magni, maiores natus pariatur porro quia, quis sapiente sunt veniam voluptatum?
            </p>
        </div>
    {% endblock %}
