{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReachBuy</title>
      <link rel="stylesheet" href="../static/core/css/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    {% include 'header.html' %}
    {% block content %}
        <div class="container">
            <h1>Hello World</h1>
            <p>This is first page of reachbuy</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae dignissimos dolorum et exercitationem id ipsa,
                iusto laboriosam magni, maiores natus pariatur porro quia, quis sapiente sunt veniam voluptatum?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae dignissimos dolorum et exercitationem id ipsa,
                iusto laboriosam magni, maiores natus pariatur porro quia, quis sapiente sunt veniam voluptatum?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid beatae dignissimos dolorum et exercitationem id ipsa,
                iusto laboriosam magni, maiores natus pariatur porro quia, quis sapiente sunt veniam voluptatum?
            </p>
        </div>
    {% endblock %}
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>